@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Outfit', sans-serif;
  background-color: #fcfbfc;
  overflow-x: hidden;
}

.add-btn {
    background-color: #3b82f6; /* or your preferred color */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1.975rem;
}

.add-btn:hover {
    background-color: #2563eb;
}