@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Outfit', sans-serif;
  background-color: #fcfbfc;
  overflow-x: hidden;
}

.add-btn {
    background-color: #3b82f6; /* or your preferred color */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1.975rem;
}

.add-btn:hover {
    background-color: #2563eb;
}

.card {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
}

.card-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #f3f4f6;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.card-btn:hover {
    background-color: #e5e7eb;
}